<div class="row">
  <div class="col l12 push-l1"> <h6 class="blanco"><a class="a" href="#">Home</a> > <a class="a" href="javascript:window.history.back()">Name of actor</a> > Name of movie</h6></div>
  <div class="blanco">
  <div class="col l10 push-l1">
    <b class="pop">Name of actor</b> <b class="amarillo"><b class="pup"> starring in...</b> </b>
  </div>
</div>
</div>

<div class="row" style="margin: 40px;">
  <div class="col s8 l8">
   <div class="col s6 l4 push-l1">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/movie/DoctorWho.jpg">
          </div>
            <div class="col l6">
                <div class="card">
                  <div class="card-image">
                    <img src="../../../assets/movie/Doctor.jpg">
                  </div>
              </div> 
            </div>
            <div class="col l6">
              <div class="card">
                <div class="card-image">
                  <img src="../../../assets/movie/doctor10.jpg">
                </div>
            </div> 
          </div>
        </div>
    </div>
    <div class="col l8 push-l1">
  <b><h4 class="blanco">About</h4></b>
    <span class="blanco"><p class="cont">The series depicts the adventures of a Time Lord called the Doctor, an extraterrestrial being who 
      appears to be human. The Doctor explores the universe in a time-travelling space ship called the TARDIS.
    </p></span>
    <hr>
    <b><h4 class="blanco">Comments</h4></b>  
            <div class="col l2 m2 s1">
              <img src="../../../assets/images/t.jpg" class="circle responsive-img">
            </div>
    <b><h6 class="blanco">Username</h6></b> 
    <h6 class="blanco">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</h6>
      <br>
    <div class="col l2 m2 s1">
      <img src="../../../assets/images/dt.jpg" class="circle responsive-img">
    </div>
      <b><h6 class="blanco">Username</h6></b> 
      <h6 class="blanco">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
      bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</h6>
      <br>
      <div class="col l2 m2 s1">
        <img src="../../../assets/images/cat.jpg" class="circle responsive-img">
      </div>
        <b><h6 class="blanco">Username</h6></b> 
        <h6 class="blanco">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</h6>
    </div> 
</div>

 