<div class = "row">
    <div class = "center-align">
        <img src = "../../../assets/images/knowyouractor_title.PNG" class = "imagen_titulo">
    </div>
    <div class = "center-align"> <!--col l12 push-l2 valign wrapper-->
       <input class = "boton_search" type = "search" placeholder = "Search for your favorite actor!">    
       <button class = "boton_lupa"> <img src = "../../../assets/images/lupa_icon.png" class = "imagen_lupa"> </button>
    </div>
</div>

<div>
    <div class="col l1 offset-l10"> <!-- col l1 offset-l10-->
        <button class = "boton_signin"> Sign In </button>
    </div>
</div>


